apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/prometheus-community/helm-charts'
    chart: prometheus
    targetRevision: "39.7.0"   # pin a stable chart version (example)
    helm:
      values: |
        alertmanager:
          enabled: false
        server:
          persistentVolume:
            enabled: false
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
