apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/grafana/helm-charts'
    chart: grafana
    targetRevision: "9.0.0"   
    helm:
      values: |
        persistence:
          enabled: false
        adminUser: admin
        adminPassword: admin
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
