# Terraform
.terraform/
**/.terraform/*
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*


# Kubernetes
kubernetes/nodejs/.venv
kubernetes/**/*.log

# Ignore sensitive files
*.pem
*.key
